<div class="row">
  <div class="col-sm-8">
    <table class="table">
      <tr>
        <td>Title</td>
        <td><%= @page.title %></td>
      </tr>
      <tr>
        <td>Body</td>
        <td><%= @page.body.html_safe %></td>
      </tr>
    </table>

  </div>
</div>

<%= link_to 'Edit', edit_page_path(@page), class: 'btn btn-default' %>
<%= link_to 'Back', pages_path, class: 'btn btn-default' %>
